[
{cerberus, [
    {realms, [
        {yourcompany, [
            {title, "Your Company LDAP"},
            {directory, 
                {cerberus_ldap, [
                    {host, "yourcompany.com"},
                    {base, "ou=Users,dc=yourcompany,dc=com"},
                    {timeout, 5000}
                ]}}
        ]},
        {internal, [
            {title, "Internal Directory"},
            {directory, 
                {cerberus_users, [
                    {"admin", "adminsecret"},
                    {"user", "usersecret"}
                ]}}
        ]}
    ]}
]}
].